<!-- component -->
<!-- post card -->
<div class="flex custom-bg-pink-100 shadow-lg rounded-lg mx-4 mx-auto md:mx-auto my-5 max-w-sm md:max-w-xl ">
    <!--horizantil margin is just for display-->
    <div class="flex items-start px-10 py-6 w-full">
        <img class="w-12 h-12 rounded-full object-cover mr-4 shadow"
            src="<%= post.user.pic || 'images/male-placeholder.jpeg' %>" alt="avatar">
        <div class="w-full">
            <div class="flex items-center justify-between">
                <h2 class="text-lg font-semibold text-gray-900 -mt-1 custom-font-chakraPetch">
                    <%= post.user.username %>
                </h2>
                <small class="text-sm custom-text-pink-400">
                    <%= new Date(post.posttime).getDate() %>/<%= new Date(post.posttime).getMonth() %>/<%= new
                                Date(post.posttime).getFullYear() %>
                </small>
            </div>
            <% if(post.media) {%>
                <img src="<%= post.media %>" alt="post media" class="mt-6">
                <% } %>
                    <p class="mt-3 text-gray-700 text-sm">
                        <%= post.posttext %>
                    </p>
                    <div class="mt-4 flex items-center">
                        <div class="flex mr-2 text-sm mr-3">
                            <a href="" class="flex">
                                <svg fill="none" viewBox="0 0 24 24" class="w-4 h-4 mr-1 hover:text-red-600"
                                    stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z" />
                                </svg>
                                <span>
                                    <%= post.numlikes %>
                                </span>
                            </a>
                        </div>
                        <div class="mr-2 text-sm mr-8">
                            <a href="" class="flex">
                                <svg fill="#000000" viewBox="0 0 24 24" id="retweet-round"
                                    xmlns="http://www.w3.org/2000/svg"
                                    class="icon line w-5 h-5 mr-1 stroke-black hover:stroke-green-600">
                                    <path id="primary" d="M18.46,7.11A6,6,0,0,1,15,18H10"
                                        style="fill: none; stroke-linecap: round; stroke-linejoin: round; stroke-width: 1.5;">
                                    </path>
                                    <polyline id="primary-2" data-name="primary" points="12 20 10 18 12 16"
                                        style="fill: none; stroke-linecap: round; stroke-linejoin: round; stroke-width: 1.5;">
                                    </polyline>
                                    <path id="primary-3" data-name="primary" d="M5.54,16.89A6,6,0,0,1,9,6h5"
                                        style="fill: none; stroke-linecap: round; stroke-linejoin: round; stroke-width: 1.5;">
                                    </path>
                                    <polyline id="primary-4" data-name="primary" points="12 4 14 6 12 8"
                                        style="fill: none; stroke-linecap: round; stroke-linejoin: round; stroke-width: 1.5;">
                                    </polyline>
                                </svg>
                                <%= post.numreposts %>
                                    <span></span>
                            </a>
                        </div>
                        <!-- <div class="flex mr-2 text-gray-700 text-sm mr-4">
                    <svg fill="none" viewBox="0 0 24 24" class="w-4 h-4 mr-1" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-8l-4-4m0 0L8 8m4-4v12" />
                    </svg>
                    <span>share</span>
                </div> -->
                    </div>
        </div>
    </div>
</div>